$layout-breakpoint-sm: 768px
$layout-breakpoint-lg: 1024px
$layout-breakpoint-xl: 1280px

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  scroll-behavior: smooth

body 
  scroll-behavior: smooth

main 
  display: flex
  min-height: 100vh
  flex-direction: column

footer
  margin-top: auto
  z-index: 100
  background-color: #000

h1
  font-size: 28px
  font-weight: 700
  color: #fff

h2
  font-size: 28px
  font-weight: 600
  color: #EAEAEA

h3
  font-size: 22px
  font-weight: 400
  color: #EAEAEA

p
  font-size: 16px
  font-weight: 400
  color: #EAEAEA
				
button
  height: 40px
  padding: 16px
  background-color: #FFC837
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2)
  display: flex
  align-items: center
  justify-content: center
  color: #1E1B33
  border-radius: 8px

  &:hover
    background: linear-gradient(180deg, rgba(255, 200, 55, 1) 0%, rgba(255, 223, 112, 1) 100%)

  &:active
    transform: translateY(2px)


.boxReflect 
  -webkit-box-reflect: below 0px linear-gradient(180deg, rgba(30,27,51,0) 0%, rgba(30,27,51,0) 80%, rgba(30,27,51,0.5) 100%)
  border-bottom: 1px solid #1E1B33




/* hide standard scrollbar */
/* Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar 
  display: none

.scroll-container 
  /* IE og Edge */
  -ms-overflow-style: none
  /* Firefox */
  scrollbar-width: none

@media (min-width: $layout-breakpoint-sm) and (min-width: $layout-breakpoint-lg)
  .scroll-Cardcontainer
    display: block

@media (min-width: $layout-breakpoint-xl) 
  .scroll-Cardcontainer
    display: none